/* === UNIVERSAL === */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  color: #199a8d;
  background-color: #1a1a1a;
  width: 100%;
}

/* === MAIN === */
main {
  margin: 0 auto;
  width: 90%;
}

/* === GALLERY === */

.gallery-box {
  width: 100%;
}

.back {
  display: flex;
  justify-content: flex-end;
}

.back button {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: #199a8d;
  background-color: #000;
  border: 0.3125rem solid #199a8d;
  border-radius: 1.5625rem;
  cursor: pointer;
}

.back button:hover {
  border: 0.3125rem solid #000;
  color: #000;
  background-color: #199a8d;
}

.back button:active {
  color: #199a8d;
  background-color: #000;
  border: 0.3125rem solid #199a8d;
}

.gallery-top h1 {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
}

.card-body {
  margin: 0 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-card {
  width: 30%;
  margin: 1%;
}

@media only screen and (max-width: 650px) {
  .back {
    justify-content: center;
  }

  .gallery-top h1 {
    font-size: 3rem;
  }

  .gallery-card {
    width: 40%;
  }
}
