/* === UNIVERSAL === */
* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  /* background: linear-gradient(to top right, #072c28, #d3f8f4); */
  color: #199a8d;
  background-color: #1a1a1a;
}

/* === GALLERY === */
.gallery-top h1 {
  text-align: center;
}
